@model ScoreCard.Models.Line

@{
    Layout = null;
}
@if (Model.symbol == "blank")
{
    <tr class="topscore" data-lineid="@Model.LineId">
        <td>@Model.item</td>
        <td colspan="11">@Model.Description</td>
    </tr>
}
else
{
<tr data-lineid="@Model.LineId" data-scoreid="@Model.sub.ScoreId">
    <td></td>
    <td>@Model.item</td>
    <td>@Model.Description</td>
    <td>@Model.symbol</td>
    <td>@Model.owners</td>
    <td>@Model.sub.Target</td>
    <td>@Model.sub.Total</td>
    <td>@Model.sub.Q1</td>
    <td>@Model.sub.Q2</td>
    <td>@Model.sub.Q3</td>
    <td>@Model.sub.Q4</td>
    <td>@Model.sub.Comment</td>
</tr>
@Html.DisplayFor(m=>m.scores)
}