@model ScoreCard.Models.Score

@{
    Layout = null;
}

<tr data-lineid="@Model.LineId" data-scoreid="@Model.ScoreId" class="subscore">
    <td colspan="4"></td>
    <td><em>@Model.Group</em></td>
    <td>@Html.DisplayFor(m => m.Target, new { mask = @Model.Decimal, ro=true })</td>
    <td>@Html.DisplayFor(m => m.Total, new { @class = "yearval", mask = @Model.Decimal, ro=true })</td>
    <td>@Html.DisplayFor(m => m.Q1, new { @class = "quarval", mask = @Model.Decimal, ro=!@Model.CanEdit })</td>
    <td>@Html.DisplayFor(m => m.Q2, new { @class = "quarval", mask = @Model.Decimal, ro = !@Model.CanEdit })</td>
    <td>@Html.DisplayFor(m => m.Q3, new { @class = "quarval", mask = @Model.Decimal, ro = !@Model.CanEdit })</td>
    <td>@Html.DisplayFor(m => m.Q4, new { @class = "quarval", mask = @Model.Decimal, ro = !@Model.CanEdit })</td>
    @if (Model.CanEdit)
    {
        <td>@Html.TextBoxFor(m => m.Comment)</td>
    }
    else
    {
        <td>@Html.TextBoxFor(m => m.Comment, new { @readonly = true })</td>
    }
</tr>
