@model ScoreCard.Models.Score

@{
    Layout = null;
}

<tr data-lineid="@Model.LineId" data-scoreid="@Model.ScoreId" class="subscore">
    <td colspan="4"></td>
    <td>@Model.Group</td>
    <td>@Html.TextBoxFor(m => m.Target, new { mask = @Model.Decimal })</td>
    <td>@Html.TextBoxFor(m => m.Total, new { @class = "yearval", mask = @Model.Decimal })</td>
    <td>@Html.TextBoxFor(m => m.Q1, new { @class = "quarval", mask = @Model.Decimal })</td>
    <td>@Html.TextBoxFor(m => m.Q2, new { @class = "quarval", mask = @Model.Decimal })</td>
    <td>@Html.TextBoxFor(m => m.Q3, new { @class = "quarval", mask = @Model.Decimal })</td>
    <td>@Html.TextBoxFor(m => m.Q4, new { @class = "quarval", mask = @Model.Decimal })</td>
    <td>@Html.TextBoxFor(m => m.Comment)</td>
</tr>
